<div class="nav-search">
	<div class="nav-wrap">
		<div class="inline-block">
			<div class="nav-logo">
				<a href="/"><img src="/images/logo_left.ico"></a>			
				<a href="/">地方特色美食</a>
				<a href="/"><img src="/images/logo_right.ico"></a>
			</div>
			<div class="search-wrap">
				<form action="/search" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="请输入关键字后进行搜索" name="search_text">
					<span class="input-group-btn">
				    	<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				    </span>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/css/logo.css">