<div class="nav-top">
	<div class="container-fluid">
		<div class="fl clearfix">
			<a>友情链接：</a><a href="https://www.meishij.net/" target="_blank">美食菜谱</a>
		</div>
		<p class="fr tr">
			{{if user}}
				{{if user.role>=10}}
					<a href="/">首页</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="/admin" target="_blank">后台管理</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="javascript:;">欢迎您，{{user.name}}</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="/user/logout">注销</a>
				{{else}}
					<a href="/">首页</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="javascript:;">欢迎您，{{user.name}}</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="/user/logout">注销</a>
				{{/if}}
			{{else}}
			<a href="/register#signup">注册</a>
			<span>&nbsp;|&nbsp;</span>
			<a href="/register#signin">登录</a>
			{{/if}}
		</p>
	</div>
</div>