<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/error.css">
</head>
<body>
	<section>
		<div class="container">
		  <div class="row">
			<div>
			  <h1>404</h1>
			  <h2 style="font-family:'microsoft yahei'">如果你来到这里，说明页面已经丢失！</h2>
			  <p>It looks like you're lost...</p>
			</div>
		  </div>
		</div>
	  </section>
	  <section class="">
		<div class="container">
		  <div class="row">
			<div class="col-sm-12">
			  <div class="illustration">
				<div class="island"></div>
				<div class="char"></div>
				<div class="hand"></div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	  <section class="">
		<div class="container">
		  <div class="row">
			<div class="col-sm-12"> <a href="/">
			  <div style="font-family:'microsoft yahei'" class="btn btn-action">让我带你离开这里吧！！！</div>
			  </a> </div>
		  </div>
		</div>
	  </section>
</body>
</html>
