<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{{include '/include/head'}}
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/list.css">
</head>
<body>
<div class="list-container">
	<div class="clearfix list-header"> 
		<span class="fl">
			<a href="javascript:;" onClick="show_layer('添加美食','/admin/food/addFood','800','500')"  class="btn btn-primary">
				<i class="fa fa-plus"></i> 添加美食
			</a>
		</span> 
		<span class="fr">共有数据：<strong>{{foods.length}}</strong> 条</span> 
	</div>
	<table class="table table-list">
		<thead>
			<tr class="table-title">
				<th scope="col" colspan="10">{{title}}</th>
			</tr>
			<tr class="table-header">
				<th width="5%">ID</th>
				<th width="12%">美食名称</th>
				<th width="13%">主料</th>
				<th width="10%">辅料</th>
				<th width="5%">点击量</th>
				<th width="15%">添加时间</th>
				<th width="15%">更新时间</th>
				<th width="13%">操作</th>
			</tr>
		</thead>
		<tbody>
			{{if foods.length}}
        	{{each foods as food index}}
        	<tr>
        		<td>{{index+1}}</td>
        		<td>{{food.title}}</td>
        		<td>{{food.main}}</td>
        		<td>{{food.assist}}</td>
				<td>{{food.pv}}</td>
				<td>{{moment(food.meta.createAt).format('YYYY-MM-DD HH:mm')}}</td>
				<td>{{moment(food.meta.updateAt).format('YYYY-MM-DD HH:mm')}}</td>
        		<td>
        			<a href="javascript:;" onClick="show_layer('美食编辑','/admin/food/addFood/{{food.id}}','800','500')" class="btn-opt"><i class="fa fa-pencil"></i></a>
        			<a href="javascript:;" class="btn-opt" onClick="delete_food(this,'{{food.id}}')"><i class="fa fa-trash-o"></i></a>
        		</td>
        	</tr>
        	{{/each}}
        	{{else}}
        	<tr>
        		<td colspan="9">暂无记录</td>
        	</tr>
        	{{/if}}
		</tbody>
	</table>
</div>

<script type="text/javascript" src="/libs/layer/layer.min.js"></script>
<script type="text/javascript" src="/libs/dataTables/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/js/list.js"></script>
</body>
</html>